@import "../variables.scss";

$headerHeight: 130px;

.clipping {
  max-width: 100vw;
  margin: 5px 5px;
  flex-grow: 1;

  .header {
    top: 0;
    position: fixed;
    width: 100%;
    height: $headerHeight;
    display: flex;
    align-items: center;
    background: white;
  }
  .title {
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
    padding-right: 10px;
  }

  .favorite {
    margin-right: 20px;
  }
  .author {
    padding-left: 5px;
    color: #a39688;
    display: inline;
  }

  .separator {
    border-top: 1px solid #cdcdcd;
    margin: 10px 0;
    height: 1px;
  }

  .content {
    // overflow-y: scroll;
    font-size: 20px;
    height: calc(100vh - #{$headerHeight} - #{$bannerHeight});
    margin-top: $headerHeight;
  }

  .location {
    @extend .author;
    padding-left: 5px;
    white-space: nowrap;
  }
}
